.contactus_bg{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../public/Contact\ Page\ Image.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;


}
.contactus_center{
    min-height: 100px;
    padding-left: 150px;
    padding-right: 150px;

}
.contact_form_frame{
    display: flex;
    padding: 150px;
    color: aliceblue;
}

.contactus_form_2{
     width :100%;
    min-width:200px ;
    max-width: 400px;
    min-height: 200px;
    margin-left: 20px;
    padding: 10px;
}
.contactus_form_2 h1{
font-size: 20px;
font-weight: 600;


}
@media screen and (max-width: 768px){
    .contactus_bg{
        background-image: url('../../public/Contact\ Page\ Image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        width: 100%;
    
    
    }
    .contact_form_frame{
        display: flex;
        flex-wrap: wrap;
        color: aliceblue;
        padding: 0px;
        width: 100%;
    }
    .contactus_center{
        min-height: 100px;
        padding: 50px;
        width: 100%;
    }

}