.properties1{
padding: 50px;
margin-top: 8px;

}
.properties1 h1{
    font-size: 35px;
    letter-spacing: 0cm;
    font-weight: 500;
    line-height: 1cm;
    margin-top: 10px;
    margin-bottom: 10px;
}

.properties2{
    background-color: #e1e5e3;
    min-height: 500px;
}