/* .courosalcard{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .corousalbigcard{
    background-color: red;
    height: 300px;
} */